<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="avc-ajax-oauth-token">
    <template>
        <iron-ajax id="fakeIronAjax"></iron-ajax>
    </template>

    <script>
        'use strict';

        Polymer({
            is: 'avc-ajax-oauth-token',

            properties: {
                headerName: {
                    type: String,
                    value: 'X-AUTH-TOKEN'
                },
                whiteFilter: {
                    type: String
                },
                blackFilter: {
                    type: String
                },
                whiteRegexp: {
                    type: RegExp,
                    readOnly: true,
                    computed: '_getRegexp(whiteFilter)'
                },
                blackRegexp: {
                    type: RegExp,
                    readOnly: true,
                    computed: '_getRegexp(blackFilter)'
                }
            },

            _getRegexp: function(reg) {
                return reg ? new RegExp(reg) : null;
            },

            ready: function() {
                var realFn = this.$.fakeIronAjax.constructor.prototype.generateRequest;
                var addToken = this.addToken.bind(this);
                var isAllowed = this.isAllowed.bind(this);
                this.$.fakeIronAjax.constructor.prototype.generateRequest = function() {
                    if (isAllowed(this)) {
                        addToken(this);
                    }
                    return realFn.apply(this, arguments);
                };
            },

            isAllowed: function(ironAjaxInst) {
                var permOfInst = ironAjaxInst.getAttribute('avc-oauth-token');
                if (permOfInst === 'true' || permOfInst === 'false') {
                    return permOfInst === 'true';
                }
                var url = ironAjaxInst.requestUrl;
                if (this.whiteRegexp) {
                    if (!this.whiteRegexp.test(url)) return false;
                }
                if (this.blackRegexp) {
                    return !this.blackRegexp.test(url);
                }
                return true;
            },

            addToken: function(ironAjaxInst) {

                var token = localStorage.getItem(this.headerName);
                if (typeof token == 'string') {
                    ironAjaxInst.headers[this.headerName] = token;
                }
            }
        });
    </script>

</dom-module>