<!-- Iron elements -->
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<!-- Paper elements -->
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html"/>
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">

<!-- others -->
<link rel="import" href="/bower_components/lazy-pages/lazy-pages.html"/>

<!-- own -->
<link rel="import" href="/elements/avc-ajax-oauth-token.html"/>