<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>Test task</title>

    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="stylesheet" href="/styles/styles.css" shim-shadowdom>

    <link rel="import" href="/elements/elements.html">
    <script src="sinon-1.17.2.js"></script>
    <script>
        var xhr = sinon.useFakeXMLHttpRequest();
        xhr.useFilters = true;
        xhr.addFilter(function(method, url, async, username, password){
            return true;
        });
    </script>

    <!--todo: <link rel="import"> elements inside templates do not work in IE11 and Edge-->
    <!--<link rel="import" href="/pages/page-1.html">-->
    <!--<link rel="import" href="/pages/page-2.html">-->
</head>

<body>
<template is="dom-bind" id="app">

    <link rel="import" href="/bower_components/more-routing/more-routing.html">
    <more-routing-config driver="path"></more-routing-config>
    <more-route name="page-1" path="/"></more-route>
    <more-route name="page-2" path="/page2"></more-route>


    <avc-ajax-oauth-token white-filter="\w*/api/\w*" black-filter="\w*/public-api/\w*"></avc-ajax-oauth-token>

    <iron-ajax
            auto
            url="/api/field-list.json"
            handle-as="json"
            last-response="{{data}}"
            avc-oauth-token="false"></iron-ajax>

    <paper-drawer-panel>

        <paper-header-panel drawer>
            <paper-toolbar>
                <div>Test task</div>
            </paper-toolbar>

            <more-route-selector>
                <paper-menu attr-for-selected="route" selected="{{route}}">
                    <paper-item route="page-1">Page 1</paper-item>
                    <paper-item route="page-2">Page 2</paper-item>
                </paper-menu>
            </more-route-selector>
        </paper-header-panel>


        <paper-header-panel main class="fit">
            <lazy-pages attr-for-selected="route" selected="[[route]]" class="fit">
                <template route="page-1" is="dom-if">
                    <link rel="import" href="/pages/page-1.html" />
                    <page-1 data="{{data}}"></page-1>
                </template>
                <template route="page-2" is="dom-if">
                    <link rel="import" href="/pages/page-2.html" />
                    <page-2 data="{{data}}"></page-2>
                </template>
            </lazy-pages>
        </paper-header-panel>

    </paper-drawer-panel>
</template>

</body>
</html>
