<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="/bower_components/paper-input/paper-input.html"/>
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html"/>

<dom-module id="page-1">
    <link rel="import" type="css" href="page.css">
    <template>
        <paper-toolbar>
            <div>Page 1</div>
        </paper-toolbar>
        <div class="basic-card">
            <paper-input label="Filter" value="{{filterValue}}"></paper-input>
            <template id="checkboxList" is="dom-repeat" items="{{data}}" filter="isFiltred">
                <div>
                    <paper-checkbox checked="{{item.checked}}">{{item.title}}</paper-checkbox>
                </div>
            </template>
        </div>
    </template>

    <script>
        Polymer({
            is: 'page-1',
            properties: {
                data: {
                    type: Array
                },
                filterValue: {
                    type: String,
                    observer: '_filterValueChanged'
                }
            },
            isFiltred: function(item) {
                if (!this.filterValue) return true;
                var regexp = new RegExp(this.filterValue, 'ig');
                return regexp.test(item.title);
            },
            _filterValueChanged: function(value) {
                console.log('this.$.checkboxList.render()');
                this.$.checkboxList.render();
            }
        });
    </script>
</dom-module>
