<link rel="import" href="/bower_components/iron-pages/iron-pages.html"/>

<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="/bower_components/paper-input/paper-input.html"/>
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html"/>
<link rel="import" href="/bower_components/paper-date-picker/paper-date-picker.html"/>
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="/bower_components/paper-menu/paper-menu.html"/>

<dom-module id="page-2">
    <link rel="import" type="css" href="page.css">
    <template>
            <paper-toolbar>
                <div>Page 2</div>
            </paper-toolbar>
            <div class="basic-card">
                <template is="dom-repeat" items="{{data}}" filter="isChecked" observe="checked">
                        <iron-pages attr-for-selected="type-field" selected="{{item.type}}">
                            <div type-field="input">
                                <paper-input label="{{item.title}}" value="{{item.value}}"
                                             required="{{item.required}}"></paper-input>
                            </div>
                            <div type-field="password">
                                <paper-input label="{{item.title}}" value="{{item.value}}"
                                             required="{{item.required}}" type="password"></paper-input>
                            </div>
                            <div type-field="number">
                                <paper-input label="{{item.title}}" value="{{item.value}}"
                                             required="{{item.required}}" type="number"></paper-input>
                            </div>
                            <div type-field="datepicker">
                                <paper-date-picker label="{{item.title}}" value="{{item.value}}"
                                             required="{{item.required}}" type="date-time"></paper-date-picker>
                            </div>
                            <div type-field="select">
                                <paper-dropdown-menu label="{{item.title}}">
                                    <paper-menu class="dropdown-content">
                                        <template is="dom-repeat" items="{{item.items}}" as="name">
                                            <paper-item>{{name}}</paper-item>
                                        </template>
                                    </paper-menu>
                                </paper-dropdown-menu>
                            </div>
                            <div type-field="checkbox">
                                <paper-checkbox label="{{item.title}}" value="{{item.value}}">{{item.title}}</paper-checkbox>
                            </div>
                        </iron-pages>
                </template>
            </div>
    </template>

    <script>
        Polymer({
            is: 'page-2',
            isChecked: function(item) {
                return Boolean(item.checked);
            }
        });
    </script>
</dom-module>
